body,
html {
  cursor: url(), help;
background-image:url('file:///Users/jimmyt/Desktop/Screen%20Shot%202018-02-10%20at%209.03.55%20PM.png');
background-position: center;
background-size: 70, 70, 70, 70, 70;
