body,
html {
  cursor: url(), help;
background-image:url('https://www.picgifs.com/graphics/a/asparagus/graphics-asparagus-186650.gif');
background-position: center;
background-size: 70, 70, 70, 70, 70;
