body,
html {
  cursor: url(https://www.picgifs.com/graphics/a/asparagus/graphics-asparagus-186650.gif), none;
background-image:url('https://media.tenor.com/images/e0a12a9bd57d7cabb9f732710fb2d13c/tenor.gif');
background-position: center;
background-size: 70, 70, 70, 70, 70;
